{% extends "dashboards/dashboard.html" %}
{% load static %}

{% block dashboard_title %}
    Admin Dashboard
{% endblock dashboard_title %}

{% block menu %}
    <a href="#" class="menu-item active">User Management</a>
    <a href="#" class="menu-item active">System Settings</a>
    <a href="#" class="menu-item active">Feedback</a>
    <a href="#" class="menu-item active">Fund Proposal</a>
{% endblock menu %}

{% block navbar %}
    <a href="#" class="tab active">Approve User</a>
    <a href="#" class="tab">Update User</a>
    <a href="#" class="tab">Manage Profile</a>
{% endblock navbar %}

{% block dashboard %}
<h2>Pending Users</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th colspan='2'>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for user in pending_users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <form action="{% url 'approve_user' user.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Approve</button>
                    </form>
                </td>

                <td>
                    <form action="{% url 'reject_user' user.id %}" method="post" style="display: inline;" onsubmit="return confirm('Are you sure you want to reject this user?');">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Reject</button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No pending users to approve.</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock dashboard %}