{% extends "base.html" %}
{% load static %}

{% block title %}
    {% block dashboard_title %}
        Student Dashboard
    {% endblock dashboard_title %}
{% endblock %}

{% block statics %}
    <script src="{% static 'js/dashboard.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock statics %}

{% block content %}
    <a href="{% url "logout" %}">Logout</a>

    {% block dashboard %} {% endblock dashboard %}

    <div class="menu">
        {% block menu %}
            <h2>Student Dashboard</h2>
            <p>The page is currently in progress</p>
        {% endblock menu %}
    </div>

    <div class="main-content">
        {% block main_content %}{% endblock main_content %}
    </div>
    
{% endblock content %}