{% extends "dashboards/dashboard.html" %}
{% load static %}

{% block dashboard_title %}
    Funder Dashboard
{% endblock dashboard_title %}

{% block menu %}
    <a href="{% url 'dashboard' %}?tab=edit_profile" class="menu-item {% if active_menu == 'manage_profile' %}active{% endif %}">
        Manage Profile
    </a>
    <a href="{% url 'dashboard' %}?tab=status" class="menu-item {% if active_menu == 'fund_programs' %}active{% endif %}">
        Fund Programs
    </a>
    <a href="{% url 'dashboard' %}?tab=aid_application" class="menu-item {% if active_menu == 'fund_disbursements' %}active{% endif %}">
        Fund Disbursements
    </a>
{% endblock menu %}

{% block dashboard %}
    <p>This is Funder's Dashboard</p>
{% endblock dashboard %}