{% extends "dashboards/dashboard.html" %}
{% load static %}

{% block dashboard_title %}
    Funder Dashboard
{% endblock dashboard_title %}

{% block menu %}
    
    <a href="{% url 'dashboard' %}?tab=aid_application" class="menu-item {% if active_menu == 'fund_disbursements' %}active{% endif %}">
        Fund Evaluations
    </a>

    <a href="{% url 'dashboard' %}?tab=status" class="menu-item {% if active_menu == 'fund_programs' %}active{% endif %}">
        Fund Programs
    </a>
    
    <a href="{% url 'dashboard' %}?tab=notification" class="menu-item {% if active_menu == 'communication' %}active{% endif %}">
        Communication &amp; <br> Feedbacks
    </a>
    
    <a href="{% url 'dashboard' %}?tab=my_profile" class="menu-item {% if active_menu == 'profile' %}active{% endif %}">
        My Profile
    </a>
{% endblock menu %}

{% block dashboard %}
    {% if active_tab == 'my_profile'%}
        <!-- Profile Details -->
        <section class="profile-details">
            <div class="profile-header">
                <h2>Profile Details</h2>
                <!--<button class="action-button">Edit</button>-->
                <button class="action-button edit-btn" data-user-id="{{ request.user.id }}" data-bs-toggle="modal" data-bs-target="#editUserModal">Edit</button>
            </div>
            <div class="details">
                <form>
                    <div class="form-group full-width">
                        <label for="username">Username</label>
                        <input type="text" id="username" placeholder="{{user.username}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="fullname">First Name</label>
                        <input type="text" id="fullname" placeholder="{{user.first_name}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="studentid">Last Name</label>
                        <input type="text" id="lastname" placeholder="{{user.last_name}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" placeholder="{{user.email}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="phone_number">Contact Number</label>
                        <input type="tel" name="phone_number" placeholder="{{user.phone_number}}" readonly>
                    </div>

                    <div class="form-group full-width">
                        <label for="organization_name">Organization</label>
                        <input type="text" name="organization_name" placeholder="{{user.organization_name}}" readonly>
                    </div>

                </form>
            </div>
        </section> <!-- Close Profile Details Section -->

        {% include 'others/profilemodal.html' %}

        <!-- Delete Account Section -->
        <div class="delete-account-section">
            <h3>Delete Account</h3>
            <p>To confirm your identity, please verify your password:</p>
            <form method="POST" action="{% url 'delete_account' %}">
                {% csrf_token %}
                
                <input
                    type="password"
                    name="password"
                    placeholder="Password"
                    required
                    class="delete-account-input"
                />

                <!-- Display form errors (if any) -->
                {% if form.errors %}
                    <div class="error-message">
                        {% for error in form.password.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <button type="submit" class="delete-button" >Continue</button>
            </form>
        </div> <!-- Close Delete Account Section -->
        
    {% endif%}

    {% include 'others/profilemodal.html' %}
    
{% endblock dashboard %}