{% extends "dashboards/dashboard.html" %}
{% load static %}

{% block dashboard_title %}
    Aid Officer Dashboard
{% endblock dashboard_title %}

{% block menu %}
    <a href="#" class="menu-item active">Communication</a>
    <a href="#" class="menu-item">Fund Utilization</a>
    <a href="#" class="menu-item">Manage Fund Allocation</a>
    <a href="#" class="menu-item">Impact Report</a>
    <a href="#" class="menu-item">Overview of Aid Request</a>
    <a href="#" class="menu-item">Feedback</a>
{% endblock menu %}

{% block navbar %}
    <a href="#" class="tab active">Chat</a>
{% endblock navbar %}