{% extends "dashboards/dashboard.html" %}
{% load static %}

{% block dashboard_title %}
    Aid Officer Dashboard
{% endblock dashboard_title %}

{% block menu %}
    <a href="{% url 'dashboard' %}?tab=chat" class="menu-item {% if active_menu == 'communication' %}active{% endif %}">
        Communication
    </a>
    <a href="{% url 'dashboard' %}?tab=fund_utilization" class="menu-item {% if active_menu == 'fund_utilizations' %}active{% endif %}">
        Fund Utilization
    </a>
    <a href="{% url 'dashboard' %}?tab=aid_application" class="menu-item {% if active_menu == 'aid_applications' %}active{% endif %}">
        Aid Application
    </a>
    <a href="{% url 'dashboard' %}?tab=impact_report" class="menu-item {% if active_menu == 'report' %}active{% endif %}">
        Report
    </a>
{% endblock menu %}

{% block dashboard %}
    {% if active_tab == 'feedback'%}
        {% include "feedbacks/feedback.html" with feedback_list=feedback_list %}
    {% elif active_tab == 'notification'%}
        {% include "notifications/list.html" %}
        
    {% endif %}

{% endblock dashboard %}