{% extends "base.html" %}
{% load static %}

{% block title %}
    Approval Pending
{% endblock title %}

{% block statics %}
    <link rel="stylesheet" href="{% static 'css/pendingapproval.css' %}">
{% endblock statics %}

{% block content %}
    <div class="container">
        <h2>Your account is pending approval</h2>
        <p>Thank you for registering! Your account is being reviewed by the administrator. You will be notified once your account is approved.</p>
        <a href="/" class="btn">Go Back to Home</a>
    </div>
{% endblock content %}