{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Lilac Grove University</title>
  <link rel="stylesheet" href="{%static "css/Login.css" %}">
  <!--<link rel="stylesheet" href="{%static "css/main.css" %}">-->
</head>

<body>
  <div class="container">
    <div class="image-section">
      <img src="{% static "img/login.png" %}" alt="Graduation" class="login-image">
    </div>
    <div class="login-section">
      <div class="logo">
        <img src="{% static "img/logo.png" %}" alt="Lilac Grove University Logo">
        <h1>LILAC GROVE UNIVERSITY</h1>
        <p>AID MANAGEMENT</p>
      </div>

      <form class="login-form" method="POST">
        <h2>Login</h2>
        <p>Don't have an account? <a href="#">Register here</a></p>
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Your password" required>
        <select>
          <option value="student">Student</option>
          <option value="admin">Admin</option>
          <option value="aidofficer">Aid Officer</option>
          <option value="funders">Funders</option>
        </select>
        <button type="submit">Log in</button>
      </form>

    </div>
  </div>
</body>
</html>
